<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMAstats - {{ .period.Title }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles/period_style.css">
</head>
<body>
    <header class="custom-header">
        <a class="logo-text" href="/home">emastats</a>
        <a class="logo" href="/home">consulting</a>
    </header>

    <div class="more-card">
        <div class="more-card-title">{{ .period.Title }}</div>
        <div class="more-card-description">{{ .period.DetailedDescription }}</div>
        <img src="{{ .period.Img }}" alt="{{ .period.Title }}" class="more-card-img">
        <div class="more-card-duration">{{ .period.Duration }}</div>
    </div>

</body>
</html>